
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/StyleSheet/time-line-for-dector.css" rel="stylesheet" />
<!-- Render Section (: -->
<main class="container my-3 pb-4">
    <form class="mt-5" action="">
        <div class="timeline ">
            <div class="photo-name">
                <img class="photo-profile" src="Images/OIP (1).jpg" alt="">
                <div class="info">
                    <h2 class="info-name">Meao Bn Meao</h2>
                    <span class="info-date text-dark"><b class="me-1">Group</b> <i class="fa-solid fa-sort-down"></i></span>
                </div>
            </div>
            <textarea class="m-3" name="" id="" placeholder="Write new announcement..."></textarea>
            <div class="line"></div>
            <div class="like-comment live-photo">
                <div> <a href=""> <i class="fa-solid fa-video "></i> </a> <span class="text-secondary ms-2">Live class</span>   </div>
                <div> <a href=""> <i class="fa-solid fa-photo-film"></i> </a> <span class="text-secondary ms-2">Photo/video</span>   </div>
                <button type="submit" class="btn btn-outline-success"> POST </button>
            </div>
        </div>
    </form>

    <div class="timeline ">
        <div class="photo-name">
            <img class="photo-profile" src="Images/OIP (1).jpg" alt="">
            <div class="info">
                <h2 class="info-name"><a href="">Meao Bn Meao</a> </h2>
                <p class="info-date">8 November</p>
            </div>
        </div>
        <p class="news">
            السلام عليكم ورحمه الله وبركاته <br>
            مادة إدارة المشروعات عام <br>
            سكشن ٦ المجموعة الأولى <br>
            ميعاد السكشن غدا (الثلاثاء) أصبح من ٢-٤ مدرج 0أ <br>
            بدلا من 8-10 <br>
            الاسبوع ده فقط <br>
            ياريت تبلغوا بعض <br>
            بالتوفيق
        </p> <br>

        <div class="line"></div>
        <div class="like-comment-p">
            <div class="like-comment">
                <div> <a href=""><i class="fa-solid fa-thumbs-up me-2"></i></a>  <span class="text-secondary">Like</span></div>
                <div> <a href=""><i class="fa-solid fa-message me-2"></i></a> <span class="text-secondary">Comment</span> </div>
            </div>
            <div class="number-like-comment">
                <div><b>250</b><span class="ms-2 text-secondary">Like</span> </div>
                <div><b>250</b><span class="ms-2 text-secondary">Comment</span> </div>
            </div>
        </div>
    </div>
</main>
<!-- End Section -->

