@using EduZone.Models
@using Microsoft.AspNet.Identity;
@using System.Linq;
@model Post
<link href="~/Content/StyleSheet/time-line-for-dector.css" rel="stylesheet" />
@{
    ApplicationDbContext context = new ApplicationDbContext();
    string UserID = User.Identity.GetUserId();
}
@using (Html.BeginForm("UpdatePost", "Timeline", FormMethod.Post, new { @class = "mt-5", enctype = "multipart/form-data" }))
{
    string val = @Model.ContentOfPost;
    val = val.Replace("</p>", "\n");
    val = val.Replace("<p class=\" news-ar\" >", "");
    val = val.Replace("<p class=\" news-en\" >", "");
    <div class="timeline ">
        <div class="photo-name">
            <img class="photo-profile" src="~/Images/@context.Users.FirstOrDefault(e => e.Id == UserID).Image" alt="doctor" />
            <div class="info">
                <h2 class="info-name">@context.Users.FirstOrDefault(e => e.Id == UserID).Name</h2>
            </div>
        </div>
        @Html.AntiForgeryToken()
        <textarea class="m-3" name="content" id="content" placeholder="Write new announcement...">  @val </textarea>
        <div class="w-100">
            <input type="file" name="File" id="fileInput" style="display: none;" accept="image/*,video/*" onchange="onFileSelected(event)" />
            @if (Model.ImageUrl!=null&&Model.ImageUrl != "")
            {
                <img src="~/Images/@Model.ImageUrl" id="PostImage" class="w-100 m-1" style="height:500px" />
            }
        </div>
        <div class="line"></div>

        <div class="like-comment live-photo">
            <div>
                <span style="cursor: pointer;" onclick=" document.getElementById('fileInput').click();" class="text-secondary ms-2"> <i class="fa-solid fa-photo-film"></i>Photo/video</span>
            </div>
            <button type="submit" class="btn btn-outline-success"> Update </button>
        </div>
    </div>
}

<script>
    function onFileSelected(event) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();
        var imgtag = document.getElementById("PostImage");
        imgtag.title = selectedFile.name;
        reader.onload = function (event) {
            imgtag.src = event.target.result;
            imgtag.height = 500;
        };
        reader.readAsDataURL(selectedFile);
    }
    function ChangeText() {
        var textarea = document.getElementById("ContentOfPost");
        var HiddenInput = document.getElementById("Hiddenitem");
        const lines = textarea.value.split("\n");
        var Resualt = "";
        for (const line of lines) {
            const arabicRegex = /[\u0600-\u06FF]/;
            if (arabicRegex.test(line)) {
                Resualt += "<p class=\" news-ar\" >" + line + "</p>";
            } else {
                Resualt += "<p class=\" news-en\" >" + line + "</p>";
            }

        }
        HiddenInput.value = Resualt;
    }
</script>