body {
  font-family: "Roboto Condensed", sans-serif;
}

.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactUs .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.form {
  grid-area: form;
  height: 80vh;
}

.info {
  grid-area: info;
  color: #0e3959;
  height: 60vh;
}

.map {
  grid-area: map;
  height: 30vh;
}

.contact {
  padding: 40px;
  background-color: #d3d3d3;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas:
    "form info"
    "form map";
  gap: 20px;
  margin-top: 20px;
}

.contact h3 {
  color: #0e3959;
  font-weight: 400;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  border-radius: 10px;
  margin-bottom: 20px;
}

.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 150px;
  margin-bottom: 10px;
}

.inputBox input[type="submit"] {
  background-color: #69b986;
  color: white;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 400;
  cursor: pointer;
  padding: 14px 15px;
  cursor: pointer;
  transition: 0.3s;
}
.inputBox input[type="submit"]:hover {
  background-color: #4d8b64;
}

.inputBox::placeholder {
  color: #999;
}

.info .inputBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .inputBox div span {
  min-width: 40px;
  height: 40px;
  background-color: #69b986;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}

.info .inputBox div a {
  text-decoration: none;
}

.social {
  margin-top: 40px;
  display: flex;
}

.social li {
  list-style: none;
  margin-right: 15px;
}

.social li i {
  font-size: 2em;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

.social li a:hover i {
  opacity: 1;
  transform: scale(1.2);
}

.map {
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .contactUs {
    padding: 20px;
  }

  .box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "form"
      "info"
      "map";
  }

  .form {
    min-height: 100vh;
  }

  .map {
    min-height: 300px;
    padding: 0;
  }

  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .inputBox {
    width: 100%;
  }
}
