@{
    ViewBag.Title = "About";
   
}

@section Top_Link{

}
<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<!-- Link Swiper's CSS -->
<link rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link href="~/Content/StyleSheet/about.css" rel="stylesheet" />
<section>
    <div class="swiper mySwiper cont">
        <div class="swiper-wrapper content">
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="/Images/Hesham.jpeg" alt="avatar" />
                    </div>

                    <div class="media-icons">
                        <a href="https://www.facebook.com/profile.php?id=100010599549198"
                           target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/hesham-abdelbast-035265204/"
                           target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>

                        <a href="https://github.com/Hesham8725" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            <img src="/Images/cv.png" alt="" />
                        </a>
                    </div>

                    <div class="name-profession">
                        <span class="name">Hesham Abdelbaset</span>
                        <span class="profession">BackEnd Devloper With .Net</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="Images/Rezk.jpeg" alt="avatar" />
                    </div>

                    <div class="media-icons">
                        <a href="https://www.facebook.com/aboda2001?mibextid=ZbWKwL"
                           target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/abdelrahman-rezk-5a04251b0"
                           target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>

                        <a href="https://github.com/abdo-rezk" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            <img src="Images/cv.png" alt="" />
                        </a>
                    </div>

                    <div class="name-profession">
                        <span class="name">Abdelrahman Rezk</span>
                        <span class="profession">BackEnd Devloper With .Net</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="Images/Samir.jpeg" alt="avatar" />
                    </div>

                    <div class="media-icons">
                        <a href="https://www.facebook.com/profile.php?id=100009913216577&mibextid=ZbWKwL"
                           target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/ahmed-samir-017112250"
                           target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>

                        <a href="https://github.com/Ahmed-Samir12" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            <img src="Images/cv.png" alt="" />
                        </a>
                    </div>

                    <div class="name-profession">
                        <span class="name">Ahmed Samir</span>
                        <span class="profession">FrontEnd Devloper</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="Images/Abdallah.jpeg" alt="avatar" />
                    </div>

                    <div class="media-icons">
                        <a href="https://www.facebook.com/profile.php?id=100040261899507&mibextid=ZbWKwL"
                           target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/abdallah-mohamed-984112235"
                           target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>

                        <a href="https://github.com/Ahmed-Samir12" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            <img src="Images/cv.png" alt="" />
                        </a>
                    </div>

                    <div class="name-profession">
                        <span class="name">Abdallah Mohamed</span>
                        <span class="profession">BackEnd Devloper With .Net</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="Images/Farahat.jpeg" alt="avatar" />
                    </div>

                    <div class="media-icons">
                        <a href="https://www.facebook.com/profile.php?id=100012365193538&mibextid=ZbWKwL"
                           target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="http://linkedin.com/in/mustafa-adel-4921191ba"
                           target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>

                        <a href="https://github.com/Mustafa-Adel61" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            <img src="Images/cv.png" alt="" />
                        </a>
                    </div>

                    <div class="name-profession">
                        <span class="name">Mostafa Adel</span>
                        <span class="profession">BackEnd Devloper With .Net</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="Images/Hemdan.jpeg" alt="avatar" />
                    </div>

                    <div class="media-icons">
                        <a href="https://www.facebook.com/profile.php?id=100055089259217"
                           target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/mohammed-hamdan-147512224/"
                           target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>

                        <a href="https://github.com/7AMDAN1" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            <img src="Images/cv.png" alt="" />
                        </a>
                    </div>

                    <div class="name-profession">
                        <span class="name">Mohamed Hemdan</span>
                        <span class="profession">BackEnd Devloper With .Net</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="Images/Abdox.jpeg" alt="avatar" />
                    </div>

                    <div class="media-icons">
                        <a href="https://www.facebook.com/profile.php?id=100011744787502&mibextid=ZbWKwL"
                           target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/abdul-rahman-mustafa-bb80b6234"
                           target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>

                        <a href="https://github.com/Ahmed-Samir12" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            <img src="Images/cv.png" alt="" />
                        </a>
                    </div>

                    <div class="name-profession">
                        <span class="name">Abdelrahman Mostafa</span>
                        <span class="profession">FrontEnd Devloper</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="Images/OIP (1).jpg" alt="avatar" />
                    </div>

                    <div class="media-icons">
                        <a href="https://www.facebook.com/profile.php?id=100009913216577&mibextid=ZbWKwL"
                           target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/mahrous-gamal-044693218"
                           target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>

                        <a href="https://github.com/Ahmed-Samir12" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            <img src="Images/cv.png" alt="" />
                        </a>
                    </div>

                    <div class="name-profession">
                        <span class="name">Mahrous Gamal</span>
                        <span class="profession">FrontEnd Devloper</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="Images/OIP (1).jpg" alt="avatar" />
                    </div>

                    <div class="media-icons">
                        <a href="https://www.facebook.com/profile.php?id=100009913216577&mibextid=ZbWKwL"
                           target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/ahmed-samir-017112250"
                           target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>

                        <a href="https://github.com/Ahmed-Samir12" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            <img src="Images/cv.png" alt="" />
                        </a>
                    </div>

                    <div class="name-profession">
                        <span class="name">Donia Gomaa</span>
                        <span class="profession">UI/UX Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</section>



@section bottom_Link{

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerGroup: 3,
            loop: true,
            autoplayHoverPause: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        let next = document.querySelector(".swiper-button-next");
        let refreshSlider = setInterval(() => {
            next.click();
        }, 4000);
    </script>

}