@{
    ViewBag.Title = "Contact";
}
<link href="~/Content/StyleSheet/contact.css" rel="stylesheet" />
<div class="contactUs">
    <div class="title">
        <h2>Get in Touch</h2>
    </div>
    <div class="box">
        <div class="contact form">
            <h3>Send a Message</h3>
            <form action="">
                <div class="formBox">
                    <div class="row50">
                        <div class="inputBox">
                            <input type="text" placeholder="First Name" />
                        </div>
                        <div class="inputBox">
                            <input type="text" placeholder="Last Name" />
                        </div>
                    </div>

                    <div class="row50">
                        <div class="inputBox">
                            <input type="email" placeholder="Email" />
                        </div>
                        <div class="inputBox">
                            <input type="text" placeholder="Mobile" />
                        </div>
                    </div>

                    <div class="row100">
                        <div class="inputBox">
                            <span>Message</span>
                            <textarea placeholder="Write your message here"></textarea>
                        </div>
                    </div>

                    <div class="row100">
                        <div class="inputBox">
                            <input type="submit" value="Send" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="contact info">
            <h3>Contact Info</h3>
            <div class="inputBox">
                <div>
                    <span><i class="fa-solid fa-location-dot"></i></span>
                    <p>Assiut University, <br />Egypt</p>
                </div>
                <div>
                    <span><i class="fa-solid fa-envelope"></i></span>
                    <a href="mailto:loremipsum@email.com">loremipsum@email.com</a>
                </div>
                <div>
                    <span><i class="fa-solid fa-phone"></i></span>
                    <a href="tel:+201150575827">+201150575827</a>
                </div>
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100009913216577&mibextid=ZbWKwL"
                           target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/ahmed-samir-017112250"
                           target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Ahmed-Samir12" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contact map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3549.0368026151614!2d31.17060354090918!3d27.18658007111064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x144509582eaf1793%3A0x8b0ec294aecc2eca!2z2YPZhNmK2Kkg2KfZhNit2KfYs9io2KfYqiDZiNin2YTZhdi52YTZiNmF2KfYqiDYrNin2YXYudipINij2LPZitmI2Lc!5e0!3m2!1sar!2seg!4v1688354303461!5m2!1sar!2seg"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>