@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/StyleSheet/home.css" rel="stylesheet" />
<section class="">
    <div class="slider-wrapper">
        <div class="slider">
            <img src="/Images/home1-z1gg46.jpg" id="slide-1" />
            <img src="/Images/fci-eng-slider-euyaq9.jpg" id="slide-2" />
            <img src="/Images/a6cfa20b-7f0d-4109-bce6-d2b5c44be48e-mdvhwa.jpg"
                 id="slide-3" />
            <img src="/Images/banner4-cssxk4.jpg" id="slide-4" />
        </div>
        <div class="slider-nav">
            <a href="#slide-1" id="a1"></a>
            <a href="#slide-2" id="a2"></a>
            <a href="#slide-3" id="a3"></a>
            <a href="#slide-4" id="a4"></a>
        </div>
    </div>
</section>