@using EduZone.Models
@model List<Exam>
@{
    ViewBag.Title = "Index";
    ApplicationDbContext context = new ApplicationDbContext();
    int TDegree = 0;

}

@section Top_Link{
    <link href="~/Content/StyleSheet/addCourses.css" rel="stylesheet" />
}

<div class="cont" id="blur">
    <h4 class="mt-3"> List of Exams</h4>
    <hr />
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 mt-3">
        @foreach (var item in Model)
        {
            int idx = item.Id;
            var Num = context.GetQuestions.Where(e => e.ExamId == idx).Count();
            if (Num > 0)
            {
                TDegree = context.GetQuestions.Where(e => e.ExamId == idx)
                                                   .Select(e => e.Point)
                                                   .Sum();
            }
            string name = "";
            var userx = context.Users.FirstOrDefault(e => e.Id == item.CreatorID);
            if (userx != null)
            {
                name = userx.Name;
            }
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@item.GroupName</h5>
                        <p class="card-text small">
                            Dr : <span class="badge text-bg-info">@name</span>
                        </p>
                        <p class="card-text small text-secondary">
                            From Title : @item.FormTitle
                        </p>
                        <p class="card-text small text-secondary">
                            Total Exam Degree : @TDegree
                        </p>
                        <p class="card-text small text-secondary">
                            Number of Question :  @Num
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-outline-danger w-100" onclick="toggle(@item.Id)"> Start </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="popup">
    <h3>Do You Want To Start This Exam ?<br> The Exam Will Start Time When Click Yes</h3>
    <a href="" id="BtnYes" class="btn btn-danger delete">Yes</a>
    <a href="#" class="btn btn-success" onclick="toggle(0)">No</a>
</div>
@section bottom_Link{
    <script>
        var btn = document.getElementById("BtnYes");
        // toggle blur and popup
        function toggle(val) {
            btn.href = '/Student/OpenExam/' + val;
            let blur = document.getElementById("blur");
            blur.classList.toggle("active");

            let popup = document.getElementById("popup");
            popup.classList.toggle("active");
        }
    </script>
}

