@model EduZone.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
<link href="~/Content/StyleSheet/ForgetPssword.css" rel="stylesheet" />
<div class="overlay">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        <div class="card text-center w-50 align-content-center" style=" font-family: 'Signika', sans-serif;margin-top:25vh;margin-left:25%">
            <div class="card-header h5 text-white" style="background-color: rgb(52 129 64 / 60%);">Password Reset</div>
            <div class="card-body px-5 ">
                <p class="card-text py-2">
                    Enter your email address and we'll send you an email with instructions to reset your password.
                </p>

                <div class="form-floating mb-3">

                    <input type="email" class="form-control" name="Email" id="floatingInput" placeholder="example@compit.aun.edu.eg">
                    <label for="floatingInput">Email address</label>
                    @Html.ValidationMessageFor(e => e.Email, null, new { @class = "text-danger" })

                </div>
                <input type="submit" class="btn w-100" style="background-color: rgb(52 129 64 / 60%);" value="Reset password">
                <div class="d-flex justify-content-between mt-4">
                    <a class="btncolor" href="/Account/Login">Login</a>
                    <a class="btncolor" href="/Account/Register">Register</a>
                </div>
            </div>
        </div>

    }
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>