
@{
    ViewBag.Title = "Group_About";
}
@Html.Partial("_GroupPartialView")

<div class="tab-content p-3 my-3">

    <div class="tab-pane active" id="About">
        <ul class=" list-group">
            <li class=" list-group-item">
                <b>Group Code</b> : <span class="badge rounded-pill text-bg-success">@ViewBag.GC</span>
            </li>
            <li class=" list-group-item">
                <b># Members</b> : @ViewBag.Count
            </li>
            <li class=" list-group-item">
                <b>Admin</b> : <span class="badge rounded-pill text-bg-info"><a href="#">@ViewBag.OwnerName</a></span>
            </li>
        </ul>
    </div>
</div>